.detail-specialty-container {
    .description-specialty {
        // height    : 200px;
        margin-top  : 70px;
        padding-top : 20px;
        padding-left: 10px;
        background  : white !important;
    }

    .detai-specialty-body {
        padding       : 0 100px;
        background    : #eee;
        display       : flex;
        flex-direction: column;

        .search-sp-doctor {
            margin: 15px 0px;

            select {
                border : none;
                outline: none;
                cursor : pointer;
                padding: 7px 10px;

            }

        }


        .each-doctor {
            display      : flex;
            width        : 100%;
            min-height   : 300px;
            margin       : 25px 0px;
            background   : #fff;
            border-radius: 9px;
            box-shadow   : 0 1px 6px rgba(71, 98, 179, 0.28);

            .dt-content-left {
                margin-top  : 10px;
                width       : 50%;
                border-right: 1px solid #ddd;
            }

            .dt-content-right {
                width  : 50%;
                padding: 10px;

                .doctor-extra-infor {
                    border     : 1px solid #dddd;
                    margin-top : 10px;
                    border-left: none !important;

                    .doctor-extra-infor-container {
                        margin: 10px 0px !important;
                    }

                }

            }
        }
    }
}