.manage-specialty-container {
    .ms-title {
        text-align    : center;
        font-size     : 18px;
        text-transform: uppercase;
        margin-top    : 10px;
    }

    .add-new-specialty {
        .btn-save-specialty {
            border          : none;
            outline         : none;
            padding         : 5px 15px;
            background-color: orange;
            margin          : 20px;
            min-width       : 75px;
            border-radius   : 3px;
        }

        &:hover {
            opacity: 0.9;
        }
    }
}