.manage-doctor-container {

    .manage-doctor-title {
        padding   : 15px;
        font-size : 18px;
        text-align: center;

    }

    .more-infor-extra {
        margin: 10px;
    }

    .manage-doctor-edit {
        padding: 5px;
    }

    .save-content-doctor {
        margin-top   : 20px;
        margin-bottom: 30px;
        border-radius: 3px;
        outline      : none;
        border       : none;
        padding      : 5px;
        background   : orange;
        cursor       : pointer;

        &:hover {
            opacity: 0.9;
        }

    }

    .create-content-doctor {
        margin-top   : 20px;
        margin-bottom: 30px;
        border-radius: 3px;
        outline      : none;
        border       : none;
        padding      : 5px;
        background   : orange;
        cursor       : pointer;

        &:hover {
            opacity: 0.9;
        }

    }

    .more-infor {
        display       : flex;
        gap           : 15px;
        padding-bottom: 15px;

        .content-right {
            width: 40%;
        }

        .centent-left {
            width: 60%;
        }
    }
}