.doctor-detail-container {
    margin   : 70px 10px;
    height   : 500px;
    // border: 1px solid red;

    .intro-doctor {
        display       : flex;
        margin        : 0 100px;
        padding-bottom: 15px;

        .content-left {
            width              : 20%;
            background-size    : cover;
            background-position: center;
            background-repeat  : no-repeat;
            width              : 120px;
            height             : 120px;
            border-radius      : 50%;
            // margin: 10px 20px;
            // margin-left  : 10px;
            margin             : 10px;

        }

        .content-right {
            width          : 80%;
            // border      : 1px solid gray;
            padding-left   : 10px;
            margin         : 20px;

            .like-share-plugin {
                padding: 10px;
            }

        }
    }

    .sechdule-doctor {
        margin    : 20px 100px;
        display   : flex;
        min-height: 200px;

        .content-left {
            width: 50%;
        }

        .content-right {
            width: 50%;

        }
    }

    .comment-doctor {
        padding: 10px 100px;
    }

    .detail-infor-doctor {
        padding: 10px 100px;

        h3 {
            font-size: 17px
        }

        ;

        h5 {
            font-size: 15px
        }

        ;

        p {
            // font-size: 12px;

            img {
                width        : 100%;
                margin-bottom: 30px;
            }

            ;
        }

        ;
        background      : #f9f9f9;
        border-top      : 1px solid #dddd;
        border-bottom   : 1px solid #dddd;
        // padding      : 15px;
    }
}