.doctor-schedule-container {
    border-right: 1px solid #ddd;

    .all-schedule {

        select {
            border       : none;
            outline      : none;
            padding      : 10px;
            border-bottom: 1px solid #ddd;
            cursor       : pointer;
            color        : #337ab7;

            option {
                cursor: pointer;
            }
        }
    }

    .all-available-time {

        .text-calendar {
            margin: 10px 0px;
            color : #333;

            i {
                padding: 5px 10px;
            }
        }

        .time-container {


            .time-container-btns {
                display  : flex;
                gap      : 15px;
                flex-wrap: wrap;


                button {
                    padding         : 8px 10px;
                    border          : none;
                    outline         : none;
                    background-color: #fff04b;
                    min-width       : 120px;
                    border-radius   : 3px;
                    font-weight     : 600;
                    color           : #333;

                    &:hover {
                        background-color: green;
                        color           : white;
                        opacity         : 0.9;
                    }
                }

                .btn-vi {
                    min-width: 120px;
                }

                .btn-en {
                    min-width: 150px;
                }

                .no-schedule {
                    font-size: 15px;
                }
            }

            .book-free {
                margin: 10px 0;
            }

        }
    }
}